body {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

canvas {
  background-image: url("./img/giphy_vert_inf.gif");
  background-color: grey;
  /*border: 1px solid red;*/
}
